.section_1 {
    background: #FFFFFF;
    height: 100px;
    border: 1px solid #dddddd;
  }
  
.locations {
    display: inline-block;
    height: 100%;
    width: 25%;
    border-right: #DDDDDD solid 1px;
    margin: 0px 30px;
}

.amenities {
    display: inline-block;
    height: 100%;
    width: 25%;
    margin: 0px 30px;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px
}

